@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Theme Configuration */
@theme {
  --color-primary: rgba(0, 153, 102, 1);
  --font-ibm: 'IBM Plex Serif', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --page-sidebar-width: 30%;
}

/* Base Styles */
@layer base {
  * {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
  }

  a:hover {
    color: var(--color-primary);
  }

  aside{
    a:hover {
      color: #ffffff;
    }
  }
}

/* Print Styles */
@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .resume {
    margin: 0;
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }
}

@page {
  size: A4;
  margin: 0;
}
